test/resources/schemas/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://travelco.com/schema/Address">

	<xs:complexType name="address_struct">
		<xs:sequence>
			<xs:element name="Line1" type="xs:string"/>
			<xs:element name="Line2" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="xs:string"/>
			<xs:element name="Zip" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Address" type="address_struct"/>
	
</xs:schema>